<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> <!-- This is EJS: Embedded JavaScript --></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hello <%= name %> ! </p>
    <p><%= points %></p>
    <ul>
        <% for(var i=0; i<5; i++){ %>
            <li><%= i+1 %> Tuna</li>
        <% } %>
    </ul>
  </body>
</html>
